@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

@* This form is being used as an AJAX form instead of it. *@
<form id="newRentalForm">
    <div class="form-group">
        <label for="customers">Customer</label>
        <div class="tt-container">
            <input id="customers" name="customers" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movies" type="text" value="" class="form-control" size=""/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>        
        </div>
    </div>
    
    
    
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(function() {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/api/customers?query=%QUERY",
                    wildcard: '%QUERY',
                    filter: function (data) {
                        return data;
                    }
                }
            });

            // A view model for the script/client code side of the house.
            var vm = {
                movieIds: []
            };

            //$("#customer").typeahead({
            //        //minLength: 3,
            //        highlight: true
            //    },
            //    {
            //        name: 'customers',
            //        display: 'name',
            //        source: customers
            //    }).on("typeahead:select",
            //    function(e, customer) {
            //        vm.customerId = customer.id;
            //    }).on("typeahead:asyncreceive",
            //    function(e, query, name) {
            //        console.log(arguments);
            //    });

            $("#customers").typeahead(null, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/api/movies?query=%QUERY",
                    wildcard: '%QUERY'
                    
                }
            });

            $("#movie").typeahead({
                highlight: true
            }, {
               name: 'movies',
                display: 'name',
                 source: movies
            }).on("typeahead:select",
                function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");

                    // Store the movie to send ti o
                    vm.movieIds.push(movie.id);
                });

            $("#newRentalForm").submit(function(e) {
                e.preventDefault();

                $.ajax({
                    url: "/api/NewRentals",
                    method: "post",
                    data: vm
                }).done(function() {
                    console.log("done");
                }).fail(function() {
                    console.log("fail");
                });
            });
        });
    </script>
}
