@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

@* This form is being used as an AJAX form instead of it. *@
<form>
    

    <div class="form-group">
        <label>Movie</label>
        <input id="movies" name="movies" type="text" value="" class="form-control" size=""/>
    </div>
    
    <div class="form-group">
        <label for="customers">Customer</label>
        <input id="customers" name="customers" type="text" value="" class="form-control" />
    </div>
    
    
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(function() {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/api/customers?query=%QUERY",
                    wildcard: '%QUERY',
                    filter: function (data) {
                        return data;
                    }
                }
            });

            var vm = {}; // viewmodel starting out here.

            //$("#customer").typeahead({
            //        //minLength: 3,
            //        highlight: true
            //    },
            //    {
            //        name: 'customers',
            //        display: 'name',
            //        source: customers
            //    }).on("typeahead:select",
            //    function(e, customer) {
            //        vm.customerId = customer.id;
            //    }).on("typeahead:asyncreceive",
            //    function(e, query, name) {
            //        console.log(arguments);
            //    });

            $("#customers").typeahead(null, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                });


            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/api/movies?query=%QUERY",
                    wildcard: '%QUERY'
                    
                }
            });

            $("#movies").typeahead(null,
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                });
        });
    </script>
}
